.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 64px;
}

.logoLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 4px;
    font-size: 42px;
    text-decoration: none;
    color: var(--primary);
    transition:all 0.1s ease-in-out; /*Coloca uma transição quando há uma alteração no 
    texto*/
}

.logoLink:hover{
    filter:brightness(80%); /*Altera a cor aplicando o filtro quando passa o mouse por cima*/
}

.logoLink svg{ /*Para estilizar o ícone*/
    width: 64px;
    height: 64px;

}