.buttonContainer button{
    min-width: auto;
    margin: 0;
    padding: 10px;
}

.buttonContainer button svg {
    width: 20px;
    height: 20px;
}

.resposiveTable{
    overflow-x: auto;
    border-radius: 8px;
}

.resposiveTable table{
    width: 100%;
    min-width: 640px;
    font-size: 16px;
    border-collapse: collapse;
}

.resposiveTable th{
    background-color: var(--gray-600);

   
}

.thSort {
    cursor: pointer;
    transition: all 0.1s ease-in-out
}

.thSort:hover {
   filter: brightness(80%);
}

.resposiveTable td{
    background-color: var(--gray-800);
}

.resposiveTable th,
.resposiveTable td {
    border-bottom: 2px solid var(--gray-700);
    text-align: left;
    padding: 16px;
}